    body {
      background-color: #f9fafb;
      color: #333;
    }
    /* hero */
    
    .hero-section {
      padding: 40px 0;
      background: #fff;
      padding-top: 8rem;

    }

    .hero-section h1 {
      font-size: 2.8rem;
      font-weight: 700;
      color: #222;
      line-height: 1.2;
    }
    .hero-section .btnBox{
      gap: 10px;
      margin-bottom: 1.5rem;
    }
     .hero-section .btnBox .btn{
      display: inline-flex;
      align-items: center;
    }
    .hero-section p {
      font-size: 1.1rem;
      color: #555;
      font-weight: 500;
      line-height: 1.4;
    }
    .hero-section .heroTxt{
      gap: 20px;
    }
     .hero-section .heroTxt .highlight-box{
      display: inline-flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
    
    .hero-section .badge {
      background: linear-gradient(135deg, #00b894, #00cec9);
      font-size: 0.9rem;
      font-weight: 500;
      color: #fff;
      display: inline-block;
      padding: .5rem;
      border-radius: 1.7rem;
    }

    .hero-section .btn-primary {
      background: #00b894;
      border: none;
      border-radius: 30px;
      padding: 12px 28px;
      font-size: 1rem;
      font-weight: 500;
    }

    .hero-section .btn-primary:hover {
      background: #00997f;
    }

    .hero-section .btn-outline-success {
      border-radius: 30px;
      padding: 12px 28px;
      font-size: 1rem;
      font-weight: 500;
      border-width: 2px;
    }

    .hero-section .highlight-box h5 {
      font-weight: 700;
      color: #222;
    }


    .heroImg img{
      object-fit: contain;
    }
    .hero-section .highlight-box small {
      color: #666;
      font-weight: 500;
      font-size: .8rem;
    }

    .hero-section img {
      max-width: 100%;
     
     
    }
    .promo-section {
      padding: 30px 20px;
    }
    .promo-section h2 {
      text-align: center;
      margin-bottom: 20px;
      font-weight: 600;
      font-size: 2rem;
    }
    .card {
      border: none;
      border-radius: 20px;
      box-shadow: 0 6px 15px rgba(0,0,0,0.1);
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      padding: 20px 10px;
      min-height: 100%;

    }
    .card:hover {
      transform: translateY(-10px);
      box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    }
    .card img {
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      margin: auto;
      display: block;
      object-fit: contain;
      margin-bottom: .5rem;
    }
    .card-body {
      text-align: center;
    }
    .btn-primary {
      background-color: #00bfa5;
      border: none;
      border-radius: 25px;
      padding: 10px 20px;
    }
    .btn-primary:hover {
      background-color: #00997f;
    }
    .card-title{
      font-weight: 600;
      font-size: 1.2rem;
      margin-bottom: .5rem;
    }
    .card-text{
      font-weight: 500;
      margin-bottom: .5rem;
      font-size: .9rem;
    }
    .card .btn-primary{
      font-weight: 500;
      font-size: .9rem;
      letter-spacing: .5px;
    }

  @media(max-width:600px){
    .hero-section {
      padding-bottom: 0;
      padding-top: 6rem;
    }
    .hero-section h1{
      font-size: 1.6rem;
      margin-bottom: .5rem;
    }
    .hero-section p{
      font-size: 1rem;
    }
    .hero-section img{
      height: 210px;
    }
    .promo-section{
      padding: 20px 0;
    }
    .promo-section h2{
      font-size: 1.4rem;
      margin-bottom: .5rem;
    }
    .card-title {
      font-size: 1rem;
    }
  }